<p id="notice"><%= notice %></p>
<% if current_user %>

  <h1>Todo List</h1>

  <form action="/" method="GET">
    <input name = "search" type="text" placeholder="Search">
    <button type="submit">Search</button>
  </form>

  <br>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>User</th>
        <th>Description</th>
        <th>Complete</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.id %></td>
          <td><%= task.user_id %></td>
          <td><%= task.description %></td>
          <td style="text-align:center"><%= check_box_tag "task_complete", id: task.id%></td>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_nav(@pagy) %>
  <br>

  <%= link_to 'New Task', new_task_path %>

<% else %>
  <h1>Please log in</h1>
  <%= render "shared/login" %>
<% end %>
